@import 'variables';

.hidden {
  display: none !important;
}

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1400px;

@media (max-width: $breakpoint-desktop) {
  .custom-d-sm-md-lg-none {
    display: none !important;
  }
}

@media (min-width: $breakpoint-desktop + 1px) {
  .custom-d-xl-none {
    display: none !important;
  }
}

.dm-themed {
  h1 {
    // font-family: $raleway;
    // font-size: 56px;
    color: #fff;
    // letter-spacing: 3px;
    // font-weight: 400;

    text-shadow: 0 2px 1px rgba(0,0,0,0.11);

    // -webkit-animation-delay: .1s;
    // -moz-animation-delay: .1s;
    // -o-animation-delay: .1s;
    // -ms-animation-delay: .1s;
    // animation-delay: .1s;

    // text-align: center;
  }

  .supporting {
    font-size: 36px !important;
  }

  @media (min-width: $breakpoint-tablet) {
    h1 {
      // font-size: 78px;
      // letter-spacing: 2px;
      // font-weight: 600;
      // line-height: 86px;
    }
  }

  .spacedout {
    letter-spacing: 5px;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .navbar-brand {
    background: url('#{$imagesPath}/logos/LOGO-PNG-WHITE-transparent.png');
    background-size: 80px;
    width: 120px;
    height: 65px;
    background-repeat: no-repeat;
    text-shadow: white 0px 0px 2px;
  }

  @media (min-width: $breakpoint-tablet) {
    .navbar-brand {
      background-size: 160px;
      width: 200px;
      height: 130px;
    }
  }

  .link-down {
    position: absolute;
    top: 95%;
    width: 100%;
    color: white;
    text-align: center;
    z-index: 3;
  }

  .navbar {
    z-index: 17;
    width: 100%;
  }

  @media (min-width: 992px) {
    .navbar {
      margin-top: 25px;
    }
  }
}

.pricing-charts-faqs { margin-top: 60px; }
.red { color: red; }
.top-box { max-width: 925px !important; font-weight: 400;}
.shift-box { margin-left: 105px; }

.section-hero {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  overflow: initial;
  z-index: 1;
}

.section-hero .sticky-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

.section-hero .hero-bg {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
}

.developer-image {
  background: linear-gradient(-45deg, rgba(63,89,118,0.3) 0, rgba(14,20,34,0.5) 80%);
}

.section-hero .developer-image {
  position: absolute;
  background-position: center top;
  z-index: 1;
  background-image: url("#{$imagesPath}/unsplash/michael-benz-189971.jpg");
}

.section-hero .blur-dev-img {
  background-position: center top;
  background-repeat: no-repeat;
  background-image: url("#{$imagesPath}/unsplash/blured-michael-benz-189971.jpg");
  display: none;
  position: absolute;
  z-index: 3;
}

.section-hero .blur-bg, .section-hero .blur-dev-img {
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
  opacity: 0.0001;
}

.section-hero .blur-bg {
  -webkit-backdrop-filter: saturate(135%) blur(50px);
  backdrop-filter: saturate(135%) blur(50px);
  display: none;
  position: absolute;
  background-color: none;
  z-index: 5;
}

.section-hero .blur-bg, .section-hero .blur-dev-img {
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
  opacity: 0.0001;
}

.section-hero .section-content {
    position: relative;
    padding: 0;
    z-index: 4;
}

.section-hero .lockup {
    position: relative;
    z-index: 3;
}

.section-hero .content {
    min-height: 100vh;
    padding-top: 220px;
    text-align: left;
    padding-left: 20px;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;

    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    // display: flex;
    // -webkit-box-orient: vertical;
    // -webkit-box-direction: normal;
    // -webkit-flex-direction: column;
    // -ms-flex-direction: column;
    // flex-direction: column;
    // -webkit-box-align: center;
    // -webkit-align-items: center;
    // -ms-flex-align: center;
    // align-items: center;
    // -webkit-box-pack: center;
    // -webkit-justify-content: center;
    // -ms-flex-pack: center;
    // justify-content: center;
    // box-sizing: border-box;
}

.section-hero .inner.dm-active {
  opacity: 0.9999;
}

#headline {
  margin-top: -100px;
}

@media (min-width: $breakpoint-tablet) {
  #headline {
    margin-top: 0px;
  }

}

.section-hero .lockup .inner {
  /*margin-top: -225px;*/
}

.section-hero .inner {
    /*width: 310px;*/
    opacity: 0.0001;
    -webkit-transition: opacity 400ms;
    transition: opacity 400ms;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.section-hero .inner.dm-active {
    opacity: 0.9999;
}

.section-hero .blur-dev-img.dm-active {
    opacity: 0.9999;
}

.next-step-box {
  margin-top: -60px;
}

.agency-intro {
  h3, p {
    color: white;
  }
}

.tech-stack {
  margin-left: auto;
  margin-right: auto;
}

.contact-me {
  margin-top: 60px;

  form {
    margin-top: 35px;

    textarea.message {
      height: 160px;
    }
    input.submit {
      background-color: #2cb3e8;
      margin-top: 10px;
      border-bottom: none;
      color: white;

      &:focus {
        background-color: #2381B8;
      }
    }

    .input {
      width: 70%;
      border: none;
      border-bottom: 2px solid silver;
      transition: border-bottom 1s ease;
      height: 40px;
      margin-bottom: 10px;
    }

    .auto {
      margin-right: auto;
      margin-right: auto;
    }

    .input:focus {
      outline: none;
    }

    .input[type="text"]:focus, textarea:focus {
      border-bottom: 1.5px solid #2381B8;
    }

    .input[type="submit"]:focus {
      background-color: #2381B8;
      border-bottom: none;
      color: white;
    }

    input.correct {
      background: url("#{$imagesPath}/icons/features-icon-ok.png") no-repeat right center;
      background-size: 17px;
      background-position-x: 98%;
      border-bottom: 2px solid #2381B8;
    }

    input.issue {
      background-size: 17px;
      background-position-x: 98%;
      border-bottom: 2px solid #F23A46;
    }

    input[type='submit'] {
      cursor: pointer;
    }

    @mixin placeholder-focus() {
      font-size: 0px;
    }

    @mixin placeholder() {
      transition: font-size 0.1s ease;
    }

    .input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      @include placeholder;
    }
    .input::-moz-placeholder { /* Firefox 19+ */
      @include placeholder;
    }
    .input:-ms-input-placeholder { /* IE 10+ */
      @include placeholder;
    }
    .input:-moz-placeholder { /* Firefox 18- */
      @include placeholder;
    }

    .input:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      @include placeholder-focus;
    }
    .input:focus::-moz-placeholder { /* Firefox 19+ */
      @include placeholder-focus;
    }
    .input:focus:-ms-input-placeholder { /* IE 10+ */
      @include placeholder-focus;
    }
    .input:focus:-moz-placeholder { /* Firefox 18- */
      @include placeholder-focus;
    }
  }
}

.hero-original {
  background: url('#{$imagesPath}/unsplash/michael-benz-189971.jpg');
  background-size: cover;
  background-position: center 0px;
  min-height: 100vh;
  overflow: hidden;
  position: relative;


  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-sizing: border-box;
}

.agency-intro {
  h3, p { color: black; }
}

@media (min-width: $breakpoint-desktop) {
  .agency-intro {
    h3, p { color: white;
  }
}
}